<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:name=".activitys.notificacion.NotificacionesController"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logocasa"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logocasa_round"
        android:supportsRtl="true"
        android:theme="@style/EstiloAstro"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon">
        <activity
            android:name=".activitys.productos.ActualizacionProductosActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.ordenes.EstadoProductosListadoActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.ordenes.EstadoFinalizarOrdenActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.ordenes.VistaProductoInvidualOrdenActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.ordenes.EstadoNuevaOrdenActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.principal.PrincipalActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.loginuser.LoginActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.splash.SplashActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>